
body {
    background: linear-gradient(to bottom, #ffffff, #000000); 
    color: #e0e0e0; 
    padding: 6%;
}

h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 500%;
    color: #000000; 
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 180%;
    text-align: justify;
    padding: 0%;
    color: #e0e0e0; 
}

.image {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 30px 0;
}

.foto-uno {
    width: 70%; 
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin: auto;
}

.foto-dos,
.foto-tres {
    width: 45%;  
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    margin: 20px;
}

.foto-dos:hover,
.foto-tres:hover {
    transform: scale(1.06); 
}

@media screen and (max-width: 768px) {
    .foto-dos,
    .foto-tres {
        width: 90%;
    }

    .foto-uno {
        width: 90%;
    }
}

/* Contenedor de video y audio */
.media-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; 
    margin: 5%; 
}

/* Video */
.video-container {
    width: 60%; 
    text-align: center;
    border-radius: 8px;
}

/* Audio */
.audio {
    width: 35%; 
    justify-content: flex-end;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

/* Leyenda del video */
.video-caption {
    margin-top: 10px;
    font-size: 120%;
    color: #e0e0e0; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center; 
}

.video-caption a {
    text-decoration: none;
}

.video-caption a:hover {
    text-decoration: underline;
}

/* Leyenda del audio */
.audio-caption {
    margin-top: 10px;
    font-size: 120%;
    color: #e0e0e0; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center; 
}

@media screen and (max-width: 768px) {
    .foto-dos,
    .foto-tres {
        width: 90%;
    }

    .foto-uno {
        width: 90%;
    }

    /* Ajustes para el video y el audio en pantallas pequeñas */
    .media-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .video-container,
    .audio {
        width: 90%; 
        margin-bottom: 20px; 
    }
}