body{
    background-color: aliceblue;
}

*{
    box-sizing: border-box;
}

.izquierda{
    background-color: aquamarine;
    font-size: 20px;
    padding: 4%;
    float: left;
    width: 33%;
}

.centro{
    background-color: darkseagreen;
    font-size: 20px;
    padding: 4%;
    float: left;
    width: 34%;
}

.derecha{
    background-color: darkolivegreen;
    font-size: 20px;
    padding: 4%;
    float: left;
    width: 33%;
}

@media screen and (max-width:800px){
    .izquierda, .centro, .derecha {
        width: 100%;
    }
}